
#message-pane{
background: url(http://news.bbcimg.co.uk/news/special/2015/newsspec_10077/content/english/img/1024/future_of_news.jpg);
background-repeat: no-repeat;
background-size: auto;
background-position: right bottom
}
