
#message-pane{
background: url(http://news.bbcimg.co.uk/news/special/2015/newsspec_10077/content/english/img/1024/future_of_news.jpg);
background-repeat: no-repeat;
background-size: auto;
background-position: center;
}

.message-card{
    max-width: 75%;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    }

.message-time{
    margin-top: 4px;
    color: #000000;
    font-size: 10px;
    }